# print

In [1]:
print ("Hell, World")

Hell, World

In [3]:
Print ("Hello, World") # we can not use capital letter's inPython's reserved words.

NameError: name 'Print' is not defined

In [4]:
print ("Hello")
print ("World")

Hello
World

In [7]:
print (1,2,3,4,)

1 2 3 4

In [8]:
print ("Pakistan", 1,2,3,4, "Iran")

Pakistan 1 2 3 4 Iran

In [9]:
print ("Pakistan", 1,2,3,4, "Iran", sep="---")

Pakistan---1---2---3---4---Iran

In [10]:
print ("Pakistan", 1,2,3,4, "Iran", sep= "\n")

Pakistan
1
2
3
4
Iran

In [12]:
print ("Pakistan", 1,2,3,4, "Iran", sep= "\a") #ASCII bell makes ringing the bell alert sounds ( eg. xterm )

Pakistan1234Iran

In [14]:
print ("Pakistan", 1,2,3,4, "Iran", sep="\r") #ASCII carriage return (CR). Moves all characters after ( CR ) the the beginning of the line while overriding same number of characters moved.

Iran

In [15]:
print ("Pakistan", 1,2,3,4, "Iran", sep= "\b") #ASCII backspace ( BS ) removes previous character

Pakistan1234Iran

In [16]:
print ("Pakistan", 1,2,3,4, "Iran", sep= "\t") #ASCII horizontal tab (TAB). Prints TAB

Pakistan	1	2	3	4	Iran

# Variables for Strings

In [17]:
name ="usama"
print (name)

usama

In [18]:
age = 21
print (age)

21

In [19]:
print (name,age)

usama 21

In [20]:
print (name, age, sep="\n")

usama
21

# Variables for Numbers

In [1]:
a = 100

In [2]:
a

100

In [5]:
a = +10

In [4]:
a

10

In [6]:
a = a + 10

In [9]:
a

20

In [11]:
a += 20

In [12]:
a

60

In [13]:
a= /10

SyntaxError: invalid syntax (<ipython-input-13-50e5cbd70310>, line 1)

In [14]:
a = a / 10

In [15]:
a

6.0

In [16]:
a % 3

0.0

In [17]:
a = 30
a

30

In [18]:
a//3

10

In [19]:
a/3

10.0

In [21]:
a / 3

10.0

In [22]:
a//2

15

In [23]:
a = "apple"
b = 10

In [24]:
a+b

TypeError: can only concatenate str (not "int") to str

In [25]:
a+str(b)

'apple10'

In [26]:
name = input ("What's your name? ")

What's your name? usama

In [27]:
name

'usama'

In [28]:
num = "a"
a

'apple'

In [29]:
a = 45
a

45

In [30]:
num = "a"
num

'a'

In [31]:
ord (num)

97

In [35]:
name = input ("")
age = int(input (""))

usama
21

In [36]:
print (name, age)

usama 21

In [37]:
name+age

TypeError: can only concatenate str (not "int") to str


# Math expressions: Familiar operators

In [1]:
first_number= 4

In [2]:
2+2

4

In [3]:
4 =

SyntaxError: invalid syntax (<ipython-input-3-842957a1cea4>, line 1)

In [5]:
first_number = 2+2

In [6]:
first_number

4

In [7]:
print (2+2)

4

In [8]:
print (first_number)

4

In [9]:
a = 12

In [10]:
a

12

In [11]:
a = a / 4

In [12]:
a

3.0

# Math expressions: Unfamiliar operators

In [13]:
whats_left_over = 9 % 3 #modulo operator

In [14]:
whats_left_over

0

In [15]:
age

NameError: name 'age' is not defined

In [16]:
age = 21
age

21

In [20]:
age *= 3

In [21]:
age

189

In [22]:
new_age = age +50

In [23]:
new_age

239

# Math expressions: Eliminating ambiguity

In [1]:
total_cost = 1 + (3 * 4)

In [2]:
total_cost

13

In [3]:
total_cost = (1 + 3) * 4
total_cost

16

In [4]:
result_of_computation = (2 * 4) * (4 + 2)
result_of_computation

48

# Concatenating text strings

In [11]:
name = "Usama "
name

'Usama '

In [12]:
last_name = "Ahmed"
last_name

'Ahmed'

In [13]:
full_name = name + last_name
full_name

'Usama Ahmed'

# if statements

In [14]:
number = int(input ("Enter a number"))
if number %2 ==0:
    print (f"The {number} is even")
else:
    print (f"The {number} is odd")

Enter a number8
The 8 is even

In [18]:
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

Yep, it's cat.

In [17]:
species = "cat"

In [23]:
Gender = input ("What's your gender?").lower()
if Gender == "Male":
    print ("Ok! you can go in this room.")
else:
    print ("You have to go to next room.")

What's your gender?male
You have to go to next room.

# Comparison operators

In [28]:
your_ticket_number = input ("Enter your ticket number ")
if your_ticket_number != 487208:
    print("Better luck next time.")

Enter your ticket number 487208
Better luck next time.

In [54]:
age = int(input ("Enter our age "))
if age <= 12:
    print ("Chiled")
if age <= 19:
        print ("Teenager")
if age >=20:
    print ("Adult")

Enter our age 28
Adult

In [62]:
donut_condition = input ("Tell me donut condition ")
donut_price = input("What's the price? ")
if donut_condition == "fresh":
    buy_score = 10
elif donut_price == "low":
        buy_score = 5
else:
    buy_score = 0

Tell me donut condition fresh
What's the price? low

# Testing sets of conditions

In [6]:
weight = int(input("Enter your weight "))
time = int (input(""))
if weight > 75 and time < 6:
    print ("try to recruit him")

Enter your weight 82
4
try to recruit him

# Lists

In [7]:
friends = ["Usama", "Razzak", "Najeeb", "Hasan", "Salman"]

In [8]:
friends[4]

'Salman'

In [9]:
friends [0]

'Usama'

In [10]:
friends.append("Bilal")

In [11]:
friends

['Usama', 'Razzak', 'Najeeb', 'Hasan', 'Salman', 'Bilal']

In [14]:
friends.copy("Haseeb")

TypeError: copy() takes no arguments (1 given)

In [15]:
list= friends.copy()

In [16]:
list

['Usama', 'Razzak', 'Najeeb', 'Hasan', 'Salman', 'Bilal']

In [17]:
friends

['Usama', 'Razzak', 'Najeeb', 'Hasan', 'Salman', 'Bilal']

In [19]:
list.count(3)

0

In [20]:
list.count("Hasan")

1

In [21]:
list.count("Usama")

1

In [25]:
list.extend("Bilal")

In [27]:
list

['Usama',
 'Razzak',
 'Najeeb',
 'Hasan',
 'Salman',
 'Bilal',
 'B',
 'i',
 'l',
 'a',
 'l',
 'B',
 'i',
 'l',
 'a',
 'l']

In [28]:
list.extend("Q")

In [29]:
list

['Usama',
 'Razzak',
 'Najeeb',
 'Hasan',
 'Salman',
 'Bilal',
 'B',
 'i',
 'l',
 'a',
 'l',
 'B',
 'i',
 'l',
 'a',
 'l',
 'Q']

In [31]:
list.reverse

In [32]:
list

['Usama',
 'Razzak',
 'Najeeb',
 'Hasan',
 'Salman',
 'Bilal',
 'B',
 'i',
 'l',
 'a',
 'l',
 'B',
 'i',
 'l',
 'a',
 'l',
 'Q']

In [33]:
list.reverse()

In [34]:
list

['Q',
 'l',
 'a',
 'l',
 'i',
 'B',
 'l',
 'a',
 'l',
 'i',
 'B',
 'Bilal',
 'Salman',
 'Hasan',
 'Najeeb',
 'Razzak',
 'Usama']

In [35]:
list.remove("Bilal")

In [36]:
list

['Q',
 'l',
 'a',
 'l',
 'i',
 'B',
 'l',
 'a',
 'l',
 'i',
 'B',
 'Salman',
 'Hasan',
 'Najeeb',
 'Razzak',
 'Usama']

In [39]:
list.insert(3,"Salman")

In [40]:
list

['Q',
 'l',
 'a',
 'Salman',
 'Salman',
 'l',
 'i',
 'B',
 'l',
 'a',
 'l',
 'i',
 'B',
 'Salman',
 'Hasan',
 'Najeeb',
 'Razzak',
 'Usama']

In [41]:
list.clear()

In [42]:
list

[]

In [43]:
list = ['Usama', 'Razzak', 'Najeeb', 'Hasan', 'Salman', 'Bilal']

In [44]:
list

['Usama', 'Razzak', 'Najeeb', 'Hasan', 'Salman', 'Bilal']

In [47]:
list[3]= 35

In [48]:
list

['Usama', 'Razzak', 'Najeeb', 35, 'Salman', 'Bilal']

In [49]:
list.insert(1,("Haseeb"))

In [50]:
list

['Usama', 'Haseeb', 'Razzak', 'Najeeb', 35, 'Salman', 'Bilal']

In [52]:
list.extend([1,2,3])
list

['Usama', 'Haseeb', 'Razzak', 'Najeeb', 35, 'Salman', 'Bilal', 1, 2, 3]

In [53]:
list.pop()

3

In [54]:
list.pop()

2

In [55]:
list

['Usama', 'Haseeb', 'Razzak', 'Najeeb', 35, 'Salman', 'Bilal', 1]

In [56]:
list.pop()

1

In [57]:
list

['Usama', 'Haseeb', 'Razzak', 'Najeeb', 35, 'Salman', 'Bilal']

In [65]:
list.pop("Salman")

TypeError: 'str' object cannot be interpreted as an integer

In [66]:
list.pop(2)

'Razzak'

In [67]:
list

['Usama', 'Haseeb', 'Najeeb', 35, 'Salman', 'Bilal']

In [68]:
poppedElement = list.pop()

In [69]:
list

['Usama', 'Haseeb', 'Najeeb', 35, 'Salman']

In [70]:
poppedElement

'Bilal'

In [73]:
list.sort(0)

TypeError: sort() takes no positional arguments

In [74]:
list

['Haseeb', 'Najeeb', 'Usama', 35, 'Salman']

In [77]:
list.append(8)

In [78]:
list

['Haseeb', 'Najeeb', 'Usama', 35, 'Salman', 8]

In [80]:
list.append(5)

In [81]:
list

['Haseeb', 'Najeeb', 'Usama', 35, 'Salman', 8, 5, 5]

In [82]:
list.sort() #list having str+int can not be sort.

TypeError: '<' not supported between instances of 'int' and 'str'

In [83]:
list

['Haseeb', 'Najeeb', 'Usama', 35, 'Salman', 8, 5, 5]

In [85]:
list.remove("Najeeb")

In [86]:
list

['Haseeb', 'Usama', 35, 'Salman', 8, 5, 5]

# Lists: Taking slices out of them

In [3]:
new_list = [2,5,4,6,1,6,48,5,4,85,8,5,8,4,5,]
new_list

[2, 5, 4, 6, 1, 6, 48, 5, 4, 85, 8, 5, 8, 4, 5]

In [4]:
new_list [1:8]

[5, 4, 6, 1, 6, 48, 5]

In [5]:
new_list [:]

[2, 5, 4, 6, 1, 6, 48, 5, 4, 85, 8, 5, 8, 4, 5]

In [7]:
new_list [0:8:2]

[2, 4, 1, 48]

In [8]:
new_list

[2, 5, 4, 6, 1, 6, 48, 5, 4, 85, 8, 5, 8, 4, 5]

In [13]:
new_list[-12:-2]

[6, 1, 6, 48, 5, 4, 85, 8, 5, 8]